@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

html {
  font-size: 16px;
}

body {
  font-family: "Biryani", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1em;
}

h2,
h3,
h4,
h5 {
  font-family: "Biryani", sans-serif;
  font-weight: 700;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: "Biryani", sans-serif;
  font-weight: 800;
  margin-top: 0;
  font-size: 2.4rem;
  line-height: 1.2em;
}

h2,
.text-size-h2 {
  font-size: 2.2rem;
}

h3,
.text-size-h3 {
  font-size: 1.8rem;
}

h4,
.text-size-h4 {
  font-size: 1.56rem;
  line-height: 1em;
}

h5,
.text-size-h5 {
  font-size: 1.25rem;
}

.text-caption {
  font-size: 0.8rem;
}

small,
.text-small {
  font-size: 0.64em;
}

.black {
  color: #1b1b1b;
}

.color-primary {
  color: #1e91d0;
}

.color-shiva-blue {
  color: #97d8f6;
}

.color-red-door {
  color: #b00100;
}

.color-vivid-malachite {
  color: #00d424;
}

.bg-primary {
  background-color: #1e91d0;
}

.bg-shiva-blue {
  background-color: #97d8f6;
}

.bg-red-door {
  background-color: #b00100;
}

.bg-vivid-malachite {
  background-color: #00d424;
}

.bg-green {
  background-color: #00d424;
}

.bg-green:hover {
  background-color: #04bb23;
}

.btn-red {
  background-color: #b00100;
  border-color: #b00100;
}
.btn-red:hover {
  background-color: #8c0606;
  border-color: #8c0606;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.content {
  min-height: 100vh !important;
}

#video,
#canvas {
  transform: scaleX(-1);
  width: 394px;
  height: 700px;
}

.view-box {
  position: relative;
  width: 640px;
  height: 480px;
}

#video {
  width: 100%;
  height: 100%;
}

#watermark {
  position: absolute;
  top: 60%;
  right: 40%;
  /* opacity: .75; */
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 47.5%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card,
.notify {
  width: 40%;
  margin: auto;
}

.notify {
  margin-top: 1rem;
}

.backdrop {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f7f7f7;
}

.divider {
  border-color: #1e91d0;
  border-width: 0.5rem;
  width: auto;
}

#QRCode {
  width: 20%;
}

.all-images {
  width: fit-content;
  margin: auto;
}

.img-btn {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn,
.approve-btn {
  border: none;
  padding: 0.5rem 1rem;
}

.delete-btn {
  margin-left: 0.5rem;
  background-color: #b00100;
  color: #f7f7f7;
}

.approve-btn {
  margin-right: 0.5rem;
  background-color: #00d424;
}

.non-approved-img {
  background-color: #c27e7e85;
  /* opacity: 0.5; */
}

.approved-img {
  background-color: #5baa6881;
  /* opacity: 0.5; */
}

.share-buttons {
  display: flex;
  gap: 10px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.share-button {
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
}
.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #1da1f2;
}
.linkedin {
  background-color: #0077b5;
}
.pinterest {
  background-color: #bd081c;
}
.reddit {
  background-color: #ff4500;
}
.whatsapp {
  background-color: #25d366;
}
