{% extends 'base.html' %}

<!-- title -->

{% block title %} Images {% endblock %}

<!-- title -->

<!-- content -->

{% block content %}
<!--  -->

<div class="my-3">
  <h4 class="text-center">All Images</h4>
  <br />
  {% if images %}
  <!--  -->
  <div class="all-images">
    {% for image in images %}
    <!--  -->
    {% if image.approved %}
    <div class="approved-img mb-3 py-3 rounded">
      <img
        src="{{ image.image_url }}"
        alt="Image {{ image.id }}"
        class="mx-2 mb-3 img-fluid img-thumbnail rounded"
        id="display-img"
      />
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="{{ image.id }}"
          id="checkbox_{{ image.id }}"
        />
        <label class="form-check-label mt-1" for="checkbox_{{ image.id }}">
          Image: id_{{ image.id }}
        </label>
      </div>
    </div>
    {% else %}
    <div class="non-approved-img mb-3 py-3 rounded">
      <img
        src="{{ image.image_url }}"
        alt="Image {{ image.id }}"
        class="mx-2 mb-3 img-fluid img-thumbnail rounded"
        id="display-img"
      />
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="{{ image.id }}"
          id="checkbox_{{ image.id }}"
        />
        <label class="form-check-label mt-1" for="checkbox_{{ image.id }}">
          Image: id_{{ image.id }}
        </label>
      </div>
    </div>
    {% endif %}
    <!--  -->
    {% endfor %}
  </div>
  <!--  -->
  {% else %}
  <!--  -->
  <h2 class="mt-5 text-center">No images have been uploaded.</h2>
  <!--  -->
  {% endif %}
</div>

<div id="img-action">
  <select
    id="action-select"
    name="action"
    class="form-select"
    aria-label="Action to perform on image"
  >
    <option class="bg-success-subtle" value="approve">Approve</option>
    <option class="bg-warning-subtle" value="disapprove">Disapprove</option>
    <option class="bg-danger-subtle" value="delete">Delete</option>
  </select>
  <button
    class="btn btn-sm btn-primary"
    type="button"
    id="perform-action-button"
  >
    Perform Action
  </button>
</div>

<script src="{{ url_for('static', filename='js/images.js') }}"></script>

<!--  -->
{% endblock %}

<!-- content -->
