{% extends 'base.html' %}

<!-- title -->

{% block title %} Home {% endblock %}

<!-- title -->

<!-- content -->

{% block content %}

<div class="backdrop pt-5 col text-center">
  <img 
    class="text-center"
    id="World Environment Day"
    src="{{ url_for('static', filename='logo/asar-wed.png') }}"
    alt="World Envrionment Day Campaign by Asar"
  />
  <p class="text-center black"><b>Pledge your support for the International Day of Clean Air for blue skies, this 7th of September 2023 by </b></p>
  <h1 class="text-center color-vivid-malachite">Taking a Selfie!</h1>
  <p class="text-center black mb-3">Scan the QR code (or click on the link) to take you to our page. Get in the best light to show your face, put on your brightest smile, position the camera so that the hashtag does not cover your face, point and shoot! When you're happy with what you've shot - hit send! And on the 1st of September get added to our exciting photowall of volunteers, pledgers, concerned citizens, young people and old people, working folks and retired folks as we all ask for the same thing.</p>
  <h2 class="text-center mb-3 color-red-door">Clean Air and Blue Skies</h2>
  <img 
    class="text-center mb-3"
    id="World Environment Day"
    src="{{ url_for('static', filename='logo/qr.png') }}"
    alt="Scan this QR Code"
    width="150px"
    height="150px"
  />
  <div class="text-center">
    <a
     class="btn btn-primary btn-lg bg-vivid-malachite"
     href="{{ url_for('camera.selfie') }}"
     role="button">
     <div class="container-fluid">
      <p class="text-center text-caption"><b>Pledge Your Support By</b></p>
      <h4 class="text-center text-white"><i class="bi bi-camera-fill"></i> Taking a Selfie!</h4>
    </div>
   </a>
  </div>
  
</div>

<hr class="my-4" />

{% if images %}
<!--  -->
<div class="d-flex justify-content-center align-items-center flex-wrap">
  {% for image in images %}
  <!--  -->
  <img
    src="{{ image.image_url }}"
    alt="Image {{ image.id }}"
    height="350"
    width="280"
    class="mx-2 mb-3 img-fluid img-thumbnail rounded"
    id="display-img"
  />
  <!--  -->
  {% endfor %}
</div>
<!--  -->

{% endif %}
<!--  -->

{% endblock %}

<!-- content -->
