{% extends 'base.html' %}

<!-- title -->

{% block title %} Home {% endblock %}

<!-- title -->

<!-- content -->

{% block content %}

<div class="backdrop pt-5 col text-center">
  <img 
    class="text-center"
    id="World Environment Day"
    src="{{ url_for('static', filename='logo/asar-wed.png') }}"
    alt="World Envrionment Day Campaign by Asar"
  />
  <p class="text-center black"><b>Help Asar create awareness this</b></p>
  <h1 class="text-center color-vivid-malachite">World Environment Day!</h1>
  <h2 class="text-center mb-3 color-red-door">7th Sept 2023</h2>
  <p class="text-center black text-small">Allow the app to use your camera!</p>
  <div class="text-center">
    <a
     class="btn btn-primary btn-lg bg-vivid-malachite"
     href="{{ url_for('camera.selfie') }}"
     role="button">
     <div class="container-fluid">
      <p class="text-center text-caption"><b>Pledge Your Support By</b></p>
      <h4 class="text-center text-white"><i class="bi bi-camera-fill"></i> Taking a Selfie!</h4>
    </div>
   </a>
  </div>
  
</div>

<hr class="my-4" />

{% if images %}
<!--  -->
<div class="d-flex justify-content-center align-items-center flex-wrap">
  {% for image in images %}
  <!--  -->
  <img
    src="{{ image.image_url }}"
    alt="Image {{ image.id }}"
    height="350"
    width="280"
    class="mx-2 mb-3 img-fluid img-thumbnail rounded"
    id="display-img"
  />
  <!--  -->
  {% endfor %}
</div>
<!--  -->

{% endif %}
<!--  -->

{% endblock %}

<!-- content -->
