{% extends 'base.html' %}

<!-- title -->

{% block title %} Home {% endblock %}

<!-- title -->

<!-- content -->

{% block content %}

<div class="container backdrop pt-1 col text-center">
  <img
    class="text-center"
    id="World Environment Day"
    src="{{ url_for('static', filename='logo/asar-wed.png') }}"
    alt="World Environment Day Campaign by Asar"
  />
  <p class="text-center black">
    <b
      >Pledge your support for the International Day of Clean Air for blue
      skies, this 7th of September 2023 by
    </b>
  </p>
  <h2 class="text-center mb-3 color-primary">#CleanAirForBlueSkies</h2>
  <p class="text-center black">
    <span class="mb-1 text-center fw-bold">Creating A Breathable Tomorrow</span>
    <br />
    As we approach the 7th of September, a significant day on the global
    calendar, we're reminded of the paramount importance of clean air and clear
    blue skies. The International Day for Clean Air & Blue Skies serves as a
    compelling call to action, urging us all to unite for a healthier, more
    sustainable world. The air we breathe knows no borders, and its quality
    impacts every living being on this planet. This day prompts us to reflect on
    the choices we make daily and the collective impact they have on the
    environment. It's a moment to envision a future where the sky is a canvas of
    vibrant blue, where clean air revitalizes our lungs, and where generations
    to come can revel in the beauty of unspoiled horizons.
  </p>
  <p class="text-center black">
    <span class="mb-1 text-center fw-bold">Joining Forces For Change</span>
    <br />
    This year's International Day for Clean Air & Blue Skies presents a unique
    opportunity to join a global movement for positive change. Our individual
    efforts, when multiplied, can lead to tangible transformations. Governments,
    organizations, communities, and individuals are coming together to pledge
    their commitment to reducing air pollution, conserving natural resources,
    and embracing sustainable practices. From planting trees to advocating for
    cleaner energy sources, from supporting policies that safeguard the
    environment to promoting public transportation, our actions can pave the way
    for a greener and cleaner world. On this day, let's amplify our voices,
    share our stories, and inspire one another to take bold steps towards
    ensuring that the air we breathe is pure and the skies above us are crystal
    clear.
  </p>
  <p class="text-center black">
    <span class="mb-1 text-center fw-bold"
      >A Call To Breathe Life Into Change</span
    >
    <br />
    As we mark the International Day for Clean Air & Blue Skies on September
    7th, let's remember that this isn't just a celebration; it's a call to
    action. It's a reminder that every action we take, whether big or small,
    contributes to the overall health of our planet. The time to act is now.
    Let's use this day as a catalyst for creating awareness, fostering
    innovation, and advocating for policies that safeguard our environment.
    Together, we can make clean air and blue skies a reality for everyone,
    regardless of where they live or who they are. Join us in this global
    movement to breathe life into change and leave a legacy of cleaner air and
    bluer skies for generations to come.
  </p>
  <div>
    <a
      class="btn bg-green btn-lg"
      href="{{ url_for('camera.selfie') }}"
      role="button"
    >
      <div class="container-fluid mb-0">
        <p class="text-center text-caption text-white">
          <b>Pledge Your Support By</b>
        </p>
        <h4 class="text-center text-black">
          <i class="bi bi-camera-fill"></i> Taking a Selfie!
        </h4>
      </div>
    </a>
  </div>
</div>

<hr class="my-4 divider" />

{% if length %}
<!--  -->
<p class="mb-4 text-center">
  <span class="text-danger"
    ><strong><ins>{{ length }}</ins></strong></span
  >
  people have already pledged their support.
</p>
<!--  -->
{% endif %}
<!--  -->
{% if images %}
<!--  -->
<div class="d-flex justify-content-center align-items-center flex-wrap">
  <!--  -->
  {% for image in images %}
  <!--  -->
  {% if image.approved %}
  <div class="mb-3">
    <img
      src="{{ image.image_url }}"
      alt="Image {{ image.id }}"
      height="350"
      width="280"
      class="mx-2 mb-3 img-fluid img-thumbnail rounded"
      id="display-img"
    />
  </div>
  <!--  -->
  {% endif %}
  <!--  -->
  {% endfor %}
  <!--  -->
</div>
<!--  -->

{% endif %}
<!--  -->

{% endblock %}

<!-- content -->
