{% extends 'base.html' %}

<!-- title -->

{% block title %} Selfie {% endblock %}

<!-- title -->

<!-- content -->

{% block content %}

<div class="d-flex justify-content-center align-items-center flex-column">
  <br />
  <div id="video-container">
    <video
      id="video"
      width="394px"
      height="700px"
      class="img-fluid img-thumbnail rounded"
      autoplay
    ></video>
    <img
      id="watermark"
      src="{{ url_for('static', filename='logo/logo.png') }}"
      alt="Watermark"
    />
  </div>
  <br />
  <button id="capture-btn" type="button" class="btn btn-lg btn-primary">
    <i class="bi bi-camera"></i>
  </button>
  <br />
  <canvas
    id="canvas"
    width="394px"
    height="700px"
    class="img-fluid img-thumbnail rounded"
    style="display: none"
  ></canvas>
  <br />
  <!-- Request Camera Access Manually -->
  <button id="camera-access-btn" type="button" class="btn btn-outline-info btn-sm" style="display: none;">
    <i class="bi bi-camera"></i> Allow Camera Access
  </button>  
  <!-- Preview image -->
  <img id="preview" style="display: none;" class="img-fluid img-thumbnail rounded">
  <br />
  <!-- Retake and upload buttons -->
  <div class="row">
    <button id="retake-btn" type="button" class="btn btn-lg btn-warning" style="display: none;">
      <i class="bi bi-camera"></i> Retake
    </button>
    <button id="upload-btn" type="button" class="btn btn-lg btn-success" style="display: none;">
      <i class="bi bi-upload"></i> Upload
    </button>
  </div>
</div>

{% endblock %}

<!-- content -->
