{% extends 'base.html' %}

<!-- title -->

{% block title %} Selfie {% endblock %}

<!-- title -->

<!-- content -->

{% block content %}

<div class="d-flex justify-content-center align-items-center flex-column">
  <br />
  <div id="webcam-container">
    <div id="video-container" class="view-box">
      <video
        id="video"
        class="img-fluid img-thumbnail rounded"
        autoplay
      ></video>
      <canvas
        id="canvas"
        class="img-fluid img-thumbnail rounded"
        style="display: none"
      ></canvas>
      <img
        id="watermark"
        src="{{ url_for('static', filename='logo/asar-badge.png') }}"
        alt="Watermark"
      />
    </div>
    <br />
    <button id="capture-btn" type="button" class="btn btn-lg bg-green w-100">
      <i class="bi bi-camera"></i> Take a selfie!
    </button>
    <br />
  </div>

  <br />
  <!-- Request Camera Access Manually -->
  <button
    id="camera-access-btn"
    type="button"
    class="btn btn-outline-info btn-sm"
    style="display: none"
  >
    <i class="bi bi-camera"></i> Allow Camera Access
  </button>

  <div id="preview-container" style="display: none">
    <!-- Preview image -->
    <div class="view-box">
      <img
        id="preview"
        style="display: none"
        class="img-fluid img-thumbnail rounded"
      />
      <span class="loader" id="spinner"></span>
    </div>
    <br />
    <!-- Retake and upload buttons -->
    <button
      id="retake-btn"
      type="button"
      class="btn btn-lg btn-warning w-100"
      style="display: none"
    >
      <i class="bi bi-arrow-repeat"></i> Retake
    </button>
    <br />
    <button
      id="upload-btn"
      type="button"
      class="btn btn-lg btn-success w-100"
      style="display: none"
    >
      <i class="bi bi-upload"></i> Upload
    </button>
    <br />
  </div>
</div>

<script src="{{ url_for('static', filename='js/webcam.js') }}"></script>

{% endblock %}

<!-- content -->
